* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

html ,body{
    width: 100%;
    overflow: auto;
}

@media screen and (max-width: 640px) and (max-width: 1280px) {

}

header{
    width: 100%;
    

    .contenedorImg{
        margin: auto;
        width: 50%;
        
        .img_principal{
            width: 100%;
            border-radius: 1em;
        }
    }
    @media(max-width: 768px ) {
        .contenedorImg{
            width: 100%;
        }
    }
}


/* RELOG */
.row {
    display: flex;
    justify-content: center;
    align-items: center;


    .box-aros {
        display: flex;
        justify-content: center;
        align-items: center;


        .box-circulo {
            text-align: center;
            width: 150px;
            background-color: red;

            .reloj {
                margin: auto;

                .reloj-col {
                    width: 23%;

                }
            }
        }
    }
}

/*   CARROUSEL */
.carrouselSeccion{
    background-color:#FCF6F1;;
    width: 100%;


    
    .carrouselMias{
        padding: 0%;
        width: 100%;
    }

    .carousel-inner{
        width: 100%;
        text-align: center;
        
        
    }

    .carousel-item{
        width: 100%;
        text-align: center;


        img{
            border: groove gold 1em;
            border-radius: 1em;
            /* width: 100%; */
        }
    } 
}

#contenedorModal{
    display: none;
    background-color: rgb(240, 240, 240);
    width: 35%;
    height: 45%;
    border-radius: 2em;
    border: solid 4px;
    text-align: center;
    position: fixed;
    top: 25%;
    left: 30%;
    z-index: 1;
    overflow: hidden;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    color: black;
    
    a{
        background-color: bisque;
        font-weight: bold;
        color: black;
    }
    div{
        margin: 5% auto;

    }
    label{
        margin: 1.5% auto;
    }

}
@media(max-width: 768px){
    #contenedorModal{
        width: 70%;
        height: 45%;
        top: 30%;
        left: 15%;
    }

    .carousel-item{
        img{
            border: groove gold 1em;
            border-radius: 1em;
            width: 100%;
        }
    } 
    
}



/* footer */

#controlador-musica{
    #play-pause-music{
        background-color: red;
        border-radius: 6em;
        text-align: center;
    }
    img{
        width: 100%;
    }
}