* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* max-width: 100%; */
   
}

body{
    max-width: 100%;
}

@media screen and (max-width: 640px) and (max-width: 1280px) {
    * {
        margin: 1%;
        justify-content: center;
    }
}

header{
    max-width: 100%;

    .img_principal{
        max-width: 100%;
    }
}


/* RELOG */
.row {
    /* d-flex justify-content-center align-items-center */
    display: flex;
    justify-content: center;
    align-items: center;


    .box-aros {
        /* d-flex justify-content-center align-items-center */
        display: flex;
        justify-content: center;
        align-items: center;


        .box-circulo {
            /* text-center */
            text-align: center;
            width: 150px;
            background-color: red;

            .reloj {
                margin: auto;

                .reloj-col {
                    width: 23%;

                }
            }
        }
    }
}

/*   CARROUSEL */
.carrousel{
    /* position: absolute; */
    /* background-image: url(https://www.fixdate.io/modelo-invitacion/36/img/img_ondas03.svg
    ); */

    .conteiner__carrousel {
        
        display: flex;
        justify-content: center;
        
        .list_carrousel {
            
            background: transparent;
            padding: 30px;

            
            .element_carrousel {
                display: flex;
                align-items: center;
                border: solid red 1px;
                /* margin: auto 0; */
                
                
                
                
                .image_carrousel {
                    width: 100%;
                    /* background: rebeccapurple;
                    padding: 10% 10% 30% 10%; */
                    
                }
            } 
        }
    }
}

